@import 'variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Inicio Navbar general */
.NavBar{
    display : flex;
    flex-flow : row wrap;
    width : 100%;
    background-image : linear-gradient(to right, $bgColorWhite,$bgColorSweetPink);
    height : 25vh;
    align-items : center;
    list-style : none;
    position: fixed;

    .logo{
        height: 25vh;
        cursor: pointer;
        display: flex;
    }
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        img{
            height: 30px;
        }
    }

    .NavBar__ul{
        display : flex;
        flex-flow : row wrap;
        list-style: none;
        width: 80%;
        justify-content: end;
        align-items: center;

        .NavBar__li{
            color: $bgColorWhite;
            margin-left: 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            a{
                text-decoration: none;
                color: $bgColorWhite;
                font-size: 1.2rem;
                font-family: $font-family;
                border: 1.5px solid transparent;
                padding: 2px 10px;

                &:hover{
                    border: 1.5px solid $bgColorWhite;
                    border-radius: 4px;
                    transition: .5s;
                }
            }
        }
    }

}

/* Fin Navbar general */

.section__enlaces{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 25vh;
    margin-bottom: 5rem;
    height: 80vh;
    justify-content: space-evenly;
    align-items: flex-start;

    .enlace1{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 35vw;
        height: 80vh;
        justify-content: center;
        object-fit: cover;
        background-size:cover;

        h4{
            color: $bgColorWhite;
            font-family: $font-family;
            font-size: 5rem;
            font-weight: 600;
        }
        a{
            color: $bgColorWhite;
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 600;
            margin-top: 1rem;
            border: solid 1.5px;
            padding: 1px;
            border-radius: 7px;
            background-color: transparent;

            &:hover{
                background-color: $bgColorSweetPink;
                transform: scale(1.05,1.05);
                transition: .5s;
            }
        }
    }
    .enlaces2_3_4{
        display: flex;
        flex-flow: column nowrap;
        align-items:center;
        width: 60vw;
        height: 84vh;

        .enlace2{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 90%;
            height: 34vh;
            justify-content: center;
            background-size:cover;

            h4{
                color: $bgColorWhite;
                font-family: $font-family;
                font-size: 5rem;
                font-weight: 600;
            }

            a{
                color: $bgColorWhite;
                text-decoration: none;
                font-size: 1.8rem;
                font-weight: 600;
                margin-top: 1rem;
                border: solid 1.5px;
                padding: 1px;
                border-radius: 7px;
                background-color: transparent;
    
                &:hover{
                    background-color: $bgColorSweetPink;
                    transform: scale(1.05,1.05);
                    transition: .5s;
                }
            }
        }

        .container{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-evenly;
            width: 90%;
            height: 80%;

            .enlace3{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                width: 90%;
                height: 80%;
                margin-top: 2rem;
                justify-content: center;
                object-fit: cover;
                background-size:cover;

                h4{
                    color: $bgColorWhite;
                    font-family: $font-family;
                    font-size: 4rem;
                    font-weight: 600;
                }
                a{
                    color: $bgColorWhite;
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 600;
                    margin-top: 1rem;
                    border: solid 1.5px;
                    padding: 1px;
                    border-radius: 7px;
                    background-color: transparent;
        
                    &:hover{
                        background-color: $bgColorSweetPink;
                        transform: scale(1.05,1.05);
                        transition: .5s;
                    }
                }
            }

            .enlace4{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                width: 90%;
                height: 80%;
                margin-top: 2rem;
                justify-content: center;
                object-fit: cover;
                background-size:cover;

                h4{
                    color: $bgColorWhite;
                    font-family: $font-family;
                    font-size: 4rem;
                    font-weight: 600;
                }
                a{
                    color: $bgColorWhite;
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 600;
                    margin-top: 1rem;
                    border: solid 1.5px;
                    padding: 1px;
                    border-radius: 7px;
                    background-color: transparent;
                    &:hover{
                        background-color: $bgColorSweetPink;
                        transform: scale(1.05,1.05);
                        transition: .5s;
                    }
                }
            }
        }
    }

}

/* titulo principal */
div{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    text-align: center;
    .title{
        width: 100%;
        color: $bgColorSweetPink;
        font-size: 5rem;
    }
}

/* Inicio carrousel index */
.sectionConstructorItems{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .sectionCarrousel{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100;

        .sectionCarrousel__containerImg1{
            width: 100;

            img{
                width: 100%;
            }
        }
        .sectionCarrousel__containerImg2{
            display: none;
        }
        .sectionCarrousel__containerImg3{
            display: none;
        }
    }
}

/* Inicio producto */
.sectionConstructorItems{
    display: flex;
    flex-flow: row wrap;

    .sectionProduct{

            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-evenly;
            margin-left: .5rem;
            margin-right: .5rem;


            div{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                margin-top: 1rem;
                box-shadow: 4px 5px 10px rgba(0,0,0,0.15);

                .sectionProduct__img{
                    width: 23vw;
                    height: 63vh;
                }
                h2{
                    color : $bgColorSweetPink
                }
                button{
                    border: solid 3px $bgColorSweetPink;
                    background-color: transparent;
                    border-radius: 4px;
                    padding: 3px 7px;
                    color: $bgColorSweetPink;
                    font-weight: 600;
                    font-size: 1rem;
                    cursor: pointer;
                    margin-bottom: .5rem;

                    &:hover{
                        background-color: $bgColorSweetPink;
                        color: $bgColorWhite;
                        border-color: transparent;
                        transition: .5s;
                    }
                }
            }
    }
}

/* seccion carrito de compras */

.sectionProduct{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:space-evenly;

    div{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        .sectionProduct__img{
            height: 50vh;
            width: 20vw;
        }
    }
    .product__counter{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        button{
            width: 2.5rem;
            height: 1.5rem;
            margin: 3px;
            background-color: $bgColorSweetPink;
            cursor: pointer;
            border: solid 1px transparent;
            border-radius: 3px;

            &:hover{
                background-color: transparent;
                border: solid 2px $bgColorSweetPink;
                transform: scale(1.05,1.05);
                transition: 0.5s;
                box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
            }
        }
    }
}

